<style> 
        body { font-family:sans-serif; 
            background:RGB(0,200,0); 
            margin: 0; padding: 0; 
        } 
        header { background: RGB(255,0,0); 
            color: white; 
            text-align: center; 
            padding: 15px 0; 
        }
        .container { width: 90%; 
            max-width: 800px; 
            margin: 20px auto; 
            display: grid; 
            grid-template-columns: 1fr 1fr; 
            gap: 15px; } 
        .card { background: BLUE; 
            padding: 18px; 
            border-radius: 10px; 
            box-shadow: 0 3px 6px rgba(0,0,0,0.1); 
            text-align: center; 
        } 
        .card h3 { margin: 10px 0; 
            font-family:FORTE; 
            font-size:25px;
            background: RGB(255,0,0); 
        }
        .card p { font-size:25px; 
            color:RGB(255,0,0); 
        }
        .card a { display: inline-block; 
            margin-top: 15px; 
            padding: 12px 16px; 
            font-size: 24px;
            background: RGB(0,255,0); 
            color: BLACK; 
            text-decoration: none; 
            border-radius: 5px; 
        } 
        .card a:hover { background: #0056b3; 
            font-size:35px;
        } 
    footer { font-size: 24px; 
        text-align: center; 
        padding: 20px; 
        background: RGB(255,0,0); 
        color: white; 
        margin-top: 20px; } 
  </style>


